@import '../../sass/base';

.services {
	padding: 180px 0;
	margin-top: 3rem;
	background-color: $secondary-bg-color;

	.info {
		width: 100%;
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 830px) {
			flex-direction: column;
			gap: 4rem;
		}
	}
}
