// Colors
$primary-color: #283779;
$secondary-color: #15e4fd;
$tertiary-color: #12151f;
$primary-text-color: #222222;
$secondary-text-color: #7d7d7d;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f9f9fd;
